<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="logpath" value="./log"/>
  </appSettings>

  <system.web>
    <compilation debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSISSoap" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mgate.seoul.co.kr:8081/WebServiceSIS.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceSISSoap"
        contract="mgate.serviceSIS.WebServiceSISSoap" name="WebServiceSISSoap" />
    </client>
  </system.serviceModel>

</configuration>